<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>AST</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/city">Primeros pasos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <a class="navbar-brand" href="/gps">Mapa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </button>
        <a class="navbar-brand" href="/upload">Entrada</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/uploadO">Salida</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar Sesion</a>
                </li>           
            </ul>
        </div>
        </nav>
        
<div class="container">
    <%if (signinMessage.length > 0) {%>
        <div class="alert alert-danger"><%= signinMessage %></div>
    <% } %>
    <%if (signupMessage.length > 0) {%>
        <div class="alert alert-danger"><%= signupMessage %></div>
    <% } %>
</div>
<h1></h1>
        <hr />
        <h1></h1>
            <div class="container">
             <h3> Sistema de Localización  </h3>
               
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-body">
                                    <form action="/agregarCiudad" method="POST">
                                        <div class="form-group">
                                        <input type="text" name="nombre" placeholder="Inserte Nombre" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="opcion" placeholder="Inserte Tipo" class="form-control">
                                        </div>
                                        <div class="form-group">
                                        <input type="text" name="latitud" placeholder="Inserte latitud" class="form-control">
                
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="longitud" placeholder="Inserte longitud" class="form-control">
                    
                                            </div>
                                    

                                        <button type="submit" class="btn btn-primary btn-block">
                                            Agregar
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                        <th>Latitud</th>
                                        <th>Longitud</th>
                                        <th>Operacion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <% for (var i = 0; i < ciudad.length; i++){ %>
                                            <tr>
                                                <td><%= i + 1  %></td>
                                                <td><%= ciudad[i].nombre %></td>
                                                <td><%= ciudad[i].opcion %></td>
                                                <td><%= ciudad[i].latitud %></td>
                                                <td><%= ciudad[i].longitud %></td>
                                                <td>
                                                    <a href="/deleteMap/<%= ciudad[i]._id %>" class="btn btn-danger btn-block">Borrar</a>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                    
                            </table>
                        </div>
                    </div>
               </div>
            </div>
            <h1></h1>
        <hr />
        <h1></h1>
            <div class="container">

        <h1></h1>

        <h3> Selecciona tus localizaciones  </h3>

   
    
               </div>
</head>
    
    <style>
      #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        float: left;
        width: 63%;
        height: 100%;
      }
      #right-panel {
        float: right;
        width: 34%;
        height: 100%;
      }
      .panel {
        height: 100%;
        overflow: auto;
      }
    </style>
    
    <div id="map"></div>
    <div id="right-panel">
      <p>Total Distance: <span id="total"></span></p>
    </div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: -24.345, lng: 134.46}  // Australia.
        });

        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({
          draggable: true,
          map: map,
          panel: document.getElementById('right-panel')
        });

        directionsDisplay.addListener('directions_changed', function() {
          computeTotalDistance(directionsDisplay.getDirections());
        });

        displayRoute('Perth, WA', 'Sydney, NSW', directionsService,
            directionsDisplay);
      }

      function displayRoute(origin, destination, service, display) {
        service.route({
          origin: origin,
          destination: destination,
          waypoints: [{location: 'Adelaide, SA'}, {location: 'Broken Hill, NSW'}],
          travelMode: 'DRIVING',
          avoidTolls: true
        }, function(response, status) {
          if (status === 'OK') {
            display.setDirections(response);
          } else {
            alert('Could not display directions due to: ' + status);
          }
        });
      }

      function computeTotalDistance(result) {
        var total = 0;
        var myroute = result.routes[0];
        for (var i = 0; i < myroute.legs.length; i++) {
          total += myroute.legs[i].distance.value;
        }
        total = total / 1000;
        document.getElementById('total').innerHTML = total + ' km';
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxBulUWENWsCHEl4ATFevpL7j85sjAZHY&libraries=drawing&callback=initMap"></script>
  </body>
  </html>