<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>AST</title>
    
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/city">Primeros pasos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
            </button>
        <a class="navbar-brand" href="/gps">Mapa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/upload">Entrada</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/uploadO">Salida</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar Sesion</a>
                </li>           
            </ul>
        </div>
        </nav>
</head>

    <div class="container">
        <%if (signinMessage.length > 0) {%>
            <div class="alert alert-danger"><%= signinMessage %></div>
        <% } %>
        <%if (signupMessage.length > 0) {%>
            <div class="alert alert-danger"><%= signupMessage %></div>
        <% } %>
    </div>

<body>
        <article id="main-col">
                <h1> </h1>
                <p> </p>
                <h1> </h1>
              <ul id="services">
                <li>
                  <h3>Entrada de datos:</h3>
                  <p> Existen dos opciones para el ingreso de los datos:</p>
                  <p> 1) Descargando y completando la siguiente plantilla de excel: </p>
                  <a href="/descargar/plantilla.xlsx" class="display-6 text-center">Descargar</a>
                  <p> Al rellenar la plantilla de Excel selecciona la opcion de subir archivo.    </p>
                  <p> 2) Seleccionando la opcion de llenar tabla, la cual te despliega todos los campos que tienes que rellenar para completar la entrada del modelo.</p>
                </li>
              </ul>
            </article>
   
                
    <div id="elemento" class="row" style="display: none;">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Elige un Documento</h3>
                </div>
                    <div class="card-body">
                        <form action='/upl' method="POST" enctype="multipart/form-data">
                            <input type="file" name="file">
                            <input type="submit" value="Subir" class="btn btn-primary btn-block mt-4">
                        </form>
                    </div>
                </div>
            </div>
        </br>
    </div>
    <div id="elementoB" class="row display-7 text-center" style="display: none;">
        <form action="/agregarCabecera" method="POST">
            <h1>Constantes de Entrada</h1>
            <div class="form-group center">
                <input type="emisiones" name="emisiones" placeholder="Emisiones del Transporte" class="form-control">
            </div>
            <div class="form-group">
                <input type="costoTransporte" name="costoTransporte" placeholder="Costo del Transporte" class="form-control">
            </div>   
            <div class="form-group">
                <input type="capital" name="capital" placeholder="Capital de la Cadena de Suministro" class="form-control">
            </div>
            <div class="form-group">
                <input type="red" name="red" placeholder="Estructura de la Red" class="form-control">
            </div>      
            <div class="form-group">
                <input type="hornos" name="hornos" placeholder="Numero de Hornos" class="form-control">
            </div>
            <div class="form-group">
                <input type="moliendas" name="moliendas" placeholder="Numero de Moliendas" class="form-control">
            </div>
            <div class="form-group">
                <input type="clientes" name="clientes" placeholder="Numero de Clientes" class="form-control">
            </div>
            <div class="form-group">
                <input type="planeacion" name="planeacion" placeholder="Numero de Periodos de Planeacion" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-4">
                    Guardar Planta
            </button>
        </form>
    </br>
            <h1>Proyectos de reconversi처n para cada horno en cada planta</h1>
               <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <form action="/agregar" method="POST">
                                        <div class="form-group">
                                            <input type="text" name="nombrePlanta" placeholder="Numero de Planta" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="nombreHorno" placeholder="Numero de Horno" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="nombreProyecto" placeholder="numero de Proyecto" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="costoO" placeholder="Costo de Operacion" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="emisiones" placeholder="Emision de la operacion" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="costoR" placeholder="Costo de Reconversion" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="capacidad" placeholder="Capacidad Maxima de Produccion" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="costosF" placeholder="Costo Fijo" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="costosC" placeholder="Costo de Cierre" class="form-control">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">
                                            Agregar
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>N째</th>
                                        <th>Planta</th>
                                        <th>Horno</th>
                                        <th>Proyecto</th>
                                        <th>CostoOperacion</th>
                                        <th>Emision</th>
                                        <th>CostoReconversion</th>
                                        <th>Capacidad</th>
                                        <th>CostoFijo</th>
                                        <th>CostoCierre</th>
                                        <th>Operacion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <% for (var i = 0; i < horno.length; i++){ %>
                                            <tr>
                                                <td><%= i + 1  %></td>
                                                <td><%= horno[i].nombrePlanta %></td>
                                                <td><%= horno[i].nombreHorno %></td>
                                                <td><%= horno[i].nombreProyecto %></td>
                                                <td><%= horno[i].costoO %></td>
                                                <td><%= horno[i].emisiones %></td>
                                                <td><%= horno[i].costoR %></td>
                                                <td><%= horno[i].capacidad %></td>
                                                <td><%= horno[i].costosF %></td>
                                                <td><%= horno[i].costosC %></td>
                                                <td>
                                                    <a href="/delete/<%= horno[i]._id %>" class="btn btn-danger btn-block">Borrar</a>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                            </table>
                        </div>
                    </div>
               </div>
            </br>
               <h1>Proyectos de reconversi처n para cada Molienda en cada planta</h1>
               <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <form action="/agregarMolienda" method="POST">
                                        <div class="form-group">
                                            <input type="text" name="nombrePlanta" placeholder="Numero de Planta" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="nombreMolienda" placeholder="Numero de Molienda" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="nombreProyecto" placeholder="numero de Proyecto" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="costoO" placeholder="Costo de Operacion" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="emisiones" placeholder="Emision de la operacion" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="costoR" placeholder="Costo de Reconversion" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="capacidad" placeholder="Capacidad Maxima de Produccion" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="costosF" placeholder="Costo Fijo" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="costosC" placeholder="Costo de Cierre" class="form-control">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">
                                            Agregar
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>N째</th>
                                        <th>Planta</th>
                                        <th>Molienda</th>
                                        <th>Proyecto</th>
                                        <th>CostoOperacion</th>
                                        <th>Emision</th>
                                        <th>CostoReconversion</th>
                                        <th>Capacidad</th>
                                        <th>CostoFijo</th>
                                        <th>CostoCierre</th>
                                        <th>Operacion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <% for (var i = 0; i < molienda.length; i++){ %>
                                            <tr>
                                                <td><%= i + 1  %></td>
                                                <td><%= molienda[i].nombrePlanta %></td>
                                                <td><%= molienda[i].nombreMolienda %></td>
                                                <td><%= molienda[i].nombreProyecto %></td>
                                                <td><%= molienda[i].costoO %></td>
                                                <td><%= molienda[i].emisiones %></td>
                                                <td><%= molienda[i].costoR %></td>
                                                <td><%= molienda[i].capacidad %></td>
                                                <td><%= molienda[i].costosF %></td>
                                                <td><%= molienda[i].costosC %></td>
                                                <td>
                                                    <a href="/deleteVenta/<%= molienda[i]._id %>" class="btn btn-danger btn-block">Borrar</a>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                            </table>
                        </div>
                    </div>
               </div>
            <div>
                </br>
            <h1>Distancia Horno vs Molienda</h1>
            <div class="container">
                <table id="table" class="table table-bordered table-hover">
                    <thead>
                        <tr>        
                            <th>Operacion</th>
                            <% for (var i = 0; i < horno.length; i++){ %> 
                            <th><%= horno[i].nombreHorno %></th>
                            <% } %>
                            <th>Operacion</th>
                        </tr>
                    </thead>
                    <tbody>
                            <% for (var i = 0; i < molienda.length; i++){ %>
                                <tr>
                                    <td id="imolienda"><%= molienda[i].nombreMolienda %></td>
                                    <% for (var j = 0; j < horno.length; j++){ %> 
                                    <td contentEditable id="idistancia"></td>
                                    <% } %>
                                    <td>
                                        <a href="/agregarDistancia/:imolienda/:idistancia" class="btn btn-info ">Guardar</a>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                </table>
        </div>
    </div>
</div>
</div>
 
    <form class="form-inline col-md-4 col-md-offset-4" >
        <input type="button" class="btn btn-primary mt-4" value="Llenar Tabla" onclick="ocultar()">
        <input type="button" class="btn btn-primary mt-4" value="Subir Archivo" onclick="mostrar()">
    </form>
    <script>
        function ocultar() {
            document.getElementById("elemento").style.display = "none";
            document.getElementById("elementoB").style.display = "block";
        }
        function mostrar() {
            document.getElementById("elemento").style.display = "block";
            document.getElementById("elementoB").style.display = "none";
        }
    </script>
    
</body>

</html>